.header {
    width: 100%;
    padding: 16px 0;
    margin: 0 auto;
}

.header_logo {
    width: 102px;
    height: 105px;
}

.nav_link {
    font-weight: 500;
    font-size: 24px;
    line-height: 130%;
    color: #FFFFFF;
}

.nav_link:hover {
    color: #FFFFFF;
}

.active {
    font-weight: 700;
}

.header_btn {
    background-color: transparent;
    border: 0;
    color: #FFFFFF;
    font-size:30px;
    cursor:pointer;
    display: none;
}

@media only screen and (max-width: 913px) {
    .nav_link {
        font-size: 20px;
    }
}

@media only screen and (max-width: 810px) {
    .header_nav {
        display: none;
    }
    .header_btn {
        display: block;
    }
}